header{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-top: 40px;
    margin-left: 47px;
    h1{
        display: inline-block;
        font-family: 'Conv_Schnyder_X_Cond_XL_Demi';
        font-size: 16px;
    }
}