// Пример для копирования ссылок

//@font-face {
//  font-family: 'Conv_MarkHeavy';
//  src: url('../fonts/MarkHeavy.eot');
//  src: local('☺'), url('../fonts/MarkHeavy.woff') format('woff'), url('../fonts/MarkHeavy.ttf') format('truetype'), url('../fonts/MarkHeavy.svg') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}


@font-face {
	font-family: 'Conv_TTTravels-Regular';
	src: url('../fonts/TTTravels-Regular.eot');
	src: local('☺'), url('../fonts/TTTravels-Regular.woff') format('woff'), url('../fonts/TTTravels-Regular.ttf') format('truetype'), url('../fonts/TTTravels-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_TTTravels-Light';
	src: url('../fonts/TTTravels-Light.eot');
	src: local('☺'), url('../fonts/TTTravels-Light.woff') format('woff'), url('../fonts/TTTravels-Light.ttf') format('truetype'), url('../fonts/TTTravels-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Schnyder_X_Cond_XL_Demi';
	src: url('../fonts/Schnyder_X_Cond_XL_Demi.eot');
	src: local('☺'), url('../fonts/Schnyder_X_Cond_XL_Demi.woff') format('woff'), url('../fonts/Schnyder_X_Cond_XL_Demi.ttf') format('truetype'), url('../fonts/Schnyder_X_Cond_XL_Demi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}